/* MadCap Table Style: */

/*<meta Version="9" />*/

mcTableStyle
{
	name: PresightKey;
	border-collapse: separate;
	border-left-style: solid;
	border-left-width: 1px;
	border-left-color: #e7edf4;
	border-right-style: solid;
	border-right-width: 1px;
	border-right-color: #e7edf4;
	border-top-style: solid;
	border-top-width: 1px;
	border-top-color: #e7edf4;
	border-bottom-style: solid;
	border-bottom-width: 1px;
	border-bottom-color: #e7edf4;
	max-id: 12;
	border-spacing-x: 0;
	border-spacing-y: 0;
	cell-padding-left: 18px;
	cell-padding-right: 14px;
	cell-padding-top: 9px;
	cell-padding-bottom: 9px;
	background-color: #ffffff;
	margin-left: 0px;
	margin-top: 8px;
	margin-bottom: 12px;
	table-layout: auto;
	table-width: autofit to window;
	border-top-left-radius: 0 0;
	border-top-right-radius: 0 0;
	border-bottom-right-radius: 0 0;
	border-bottom-left-radius: 0 0;
}

mcTableColumnStyle
{
	span: 1;
	name: Column1;
	id: 0;
	text-align: left;
	vertical-align: top;
	separator-style: solid;
	separator-width: 1px;
	separator-color: #e7edf4;
}

mcTableHeadStyle
{
	span: 1;
	id: 5;
	name: HeaderInk;
	background-color: #163f5f;
	cell-content-style-tag: p;
	color: #ffffff;
}

mcTableBodyStyle
{
	span: 1;
	id: 8;
	name: RowLight;
	type: Automatic;
	cell-content-style-tag: none;
	text-align: left;
	vertical-align: middle;
	background-color: #ffffff;
	separator-style: solid;
	separator-width: 1px;
	separator-color: #e7edf4;
}

mcTableFootStyle
{
	span: 1;
	name: Footer1;
	id: 3;
}


/* Cell Styles: */
 
.TableStyle-PresightKey
{
	border-collapse: separate;
	background-color: #ffffff;
	border-left-style: solid;
	border-left-color: #e7edf4;
	border-left-width: 1px;
	border-right-style: solid;
	border-right-color: #e7edf4;
	border-right-width: 1px;
	border-top-style: solid;
	border-top-color: #e7edf4;
	border-top-width: 1px;
	border-bottom-style: solid;
	border-bottom-color: #e7edf4;
	border-bottom-width: 1px;
	border-top-left-radius: 0 0;
	border-top-right-radius: 0 0;
	border-bottom-right-radius: 0 0;
	border-bottom-left-radius: 0 0;
	margin-left: 0px;
	margin-top: 8px;
	margin-bottom: 12px;
	border-spacing: 0px 0px;
}

.TableStyle-PresightKey-Column-Column1
{
	
}

.TableStyle-PresightKey-Head-HeaderInk
{
	
}

.TableStyle-PresightKey-HeadI-Column1-HeaderInk
{
	padding-left: 18px;
	padding-right: 14px;
	padding-top: 9px;
	padding-bottom: 9px;
	text-align: left;
	vertical-align: top;
	color: #ffffff;
	background-color: #163f5f;
}

.TableStyle-PresightKey-HeadI-Column1-HeaderInk p
{
	color: #ffffff;
}

.TableStyle-PresightKey-HeadE-Column1-HeaderInk
{
	padding-left: 18px;
	padding-right: 14px;
	padding-top: 9px;
	padding-bottom: 9px;
	text-align: left;
	vertical-align: top;
	border-right-width: 1px;
	border-right-color: #e7edf4;
	border-right-style: solid;
	color: #ffffff;
	background-color: #163f5f;
}

.TableStyle-PresightKey-HeadE-Column1-HeaderInk p
{
	color: #ffffff;
}

.TableStyle-PresightKey-HeadF-Column1-HeaderInk
{
	padding-left: 18px;
	padding-right: 14px;
	padding-top: 9px;
	padding-bottom: 9px;
	text-align: left;
	vertical-align: top;
	color: #ffffff;
	background-color: #163f5f;
}

.TableStyle-PresightKey-HeadF-Column1-HeaderInk p
{
	color: #ffffff;
}

.TableStyle-PresightKey-HeadH-Column1-HeaderInk
{
	padding-left: 18px;
	padding-right: 14px;
	padding-top: 9px;
	padding-bottom: 9px;
	text-align: left;
	vertical-align: top;
	border-right-width: 1px;
	border-right-color: #e7edf4;
	border-right-style: solid;
	color: #ffffff;
	background-color: #163f5f;
}

.TableStyle-PresightKey-HeadH-Column1-HeaderInk p
{
	color: #ffffff;
}

.TableStyle-PresightKey-HeadD-Column1-HeaderInk
{
	padding-left: 18px;
	padding-right: 14px;
	padding-top: 9px;
	padding-bottom: 9px;
	text-align: left;
	vertical-align: top;
	color: #ffffff;
	background-color: #163f5f;
}

.TableStyle-PresightKey-HeadD-Column1-HeaderInk p
{
	color: #ffffff;
}

.TableStyle-PresightKey-HeadC-Column1-HeaderInk
{
	padding-left: 18px;
	padding-right: 14px;
	padding-top: 9px;
	padding-bottom: 9px;
	text-align: left;
	vertical-align: top;
	color: #ffffff;
	background-color: #163f5f;
}

.TableStyle-PresightKey-HeadC-Column1-HeaderInk p
{
	color: #ffffff;
}

.TableStyle-PresightKey-HeadB-Column1-HeaderInk
{
	padding-left: 18px;
	padding-right: 14px;
	padding-top: 9px;
	padding-bottom: 9px;
	text-align: left;
	vertical-align: top;
	border-right-width: 1px;
	border-right-color: #e7edf4;
	border-right-style: solid;
	color: #ffffff;
	background-color: #163f5f;
}

.TableStyle-PresightKey-HeadB-Column1-HeaderInk p
{
	color: #ffffff;
}

.TableStyle-PresightKey-HeadA-Column1-HeaderInk
{
	padding-left: 18px;
	padding-right: 14px;
	padding-top: 9px;
	padding-bottom: 9px;
	text-align: left;
	vertical-align: top;
	color: #ffffff;
	background-color: #163f5f;
}

.TableStyle-PresightKey-HeadA-Column1-HeaderInk p
{
	color: #ffffff;
}

.TableStyle-PresightKey-HeadG-Column1-HeaderInk
{
	padding-left: 18px;
	padding-right: 14px;
	padding-top: 9px;
	padding-bottom: 9px;
	text-align: left;
	vertical-align: top;
	color: #ffffff;
	background-color: #163f5f;
}

.TableStyle-PresightKey-HeadG-Column1-HeaderInk p
{
	color: #ffffff;
}

.TableStyle-PresightKey-Foot-Footer1
{
	
}

.TableStyle-PresightKey-FootI-Column1-Footer1
{
	padding-left: 18px;
	padding-right: 14px;
	padding-top: 9px;
	padding-bottom: 9px;
	text-align: left;
	vertical-align: top;
}

.TableStyle-PresightKey-FootI-Column1-Footer1 p
{
	
}

.TableStyle-PresightKey-FootE-Column1-Footer1
{
	padding-left: 18px;
	padding-right: 14px;
	padding-top: 9px;
	padding-bottom: 9px;
	text-align: left;
	vertical-align: top;
	border-right-width: 1px;
	border-right-color: #e7edf4;
	border-right-style: solid;
}

.TableStyle-PresightKey-FootE-Column1-Footer1 p
{
	
}

.TableStyle-PresightKey-FootF-Column1-Footer1
{
	padding-left: 18px;
	padding-right: 14px;
	padding-top: 9px;
	padding-bottom: 9px;
	text-align: left;
	vertical-align: top;
}

.TableStyle-PresightKey-FootF-Column1-Footer1 p
{
	
}

.TableStyle-PresightKey-FootH-Column1-Footer1
{
	padding-left: 18px;
	padding-right: 14px;
	padding-top: 9px;
	padding-bottom: 9px;
	text-align: left;
	vertical-align: top;
	border-right-width: 1px;
	border-right-color: #e7edf4;
	border-right-style: solid;
}

.TableStyle-PresightKey-FootH-Column1-Footer1 p
{
	
}

.TableStyle-PresightKey-FootD-Column1-Footer1
{
	padding-left: 18px;
	padding-right: 14px;
	padding-top: 9px;
	padding-bottom: 9px;
	text-align: left;
	vertical-align: top;
}

.TableStyle-PresightKey-FootD-Column1-Footer1 p
{
	
}

.TableStyle-PresightKey-FootC-Column1-Footer1
{
	padding-left: 18px;
	padding-right: 14px;
	padding-top: 9px;
	padding-bottom: 9px;
	text-align: left;
	vertical-align: top;
}

.TableStyle-PresightKey-FootC-Column1-Footer1 p
{
	
}

.TableStyle-PresightKey-FootB-Column1-Footer1
{
	padding-left: 18px;
	padding-right: 14px;
	padding-top: 9px;
	padding-bottom: 9px;
	text-align: left;
	vertical-align: top;
	border-right-width: 1px;
	border-right-color: #e7edf4;
	border-right-style: solid;
}

.TableStyle-PresightKey-FootB-Column1-Footer1 p
{
	
}

.TableStyle-PresightKey-FootA-Column1-Footer1
{
	padding-left: 18px;
	padding-right: 14px;
	padding-top: 9px;
	padding-bottom: 9px;
	text-align: left;
	vertical-align: top;
}

.TableStyle-PresightKey-FootA-Column1-Footer1 p
{
	
}

.TableStyle-PresightKey-FootG-Column1-Footer1
{
	padding-left: 18px;
	padding-right: 14px;
	padding-top: 9px;
	padding-bottom: 9px;
	text-align: left;
	vertical-align: top;
}

.TableStyle-PresightKey-FootG-Column1-Footer1 p
{
	
}

.TableStyle-PresightKey-Body-RowLight
{
	
}

.TableStyle-PresightKey-BodyI-Column1-RowLight
{
	padding-left: 18px;
	padding-right: 14px;
	padding-top: 9px;
	padding-bottom: 9px;
	background-color: #ffffff;
	text-align: left;
	vertical-align: top;
}

.TableStyle-PresightKey-BodyI-Column1-RowLight p
{
	
}

.TableStyle-PresightKey-BodyE-Column1-RowLight
{
	padding-left: 18px;
	padding-right: 14px;
	padding-top: 9px;
	padding-bottom: 9px;
	background-color: #ffffff;
	border-bottom-width: 1px;
	border-bottom-color: #e7edf4;
	border-bottom-style: solid;
	text-align: left;
	vertical-align: top;
	border-right-width: 1px;
	border-right-color: #e7edf4;
	border-right-style: solid;
}

.TableStyle-PresightKey-BodyE-Column1-RowLight p
{
	
}

.TableStyle-PresightKey-BodyF-Column1-RowLight
{
	padding-left: 18px;
	padding-right: 14px;
	padding-top: 9px;
	padding-bottom: 9px;
	background-color: #ffffff;
	border-bottom-width: 1px;
	border-bottom-color: #e7edf4;
	border-bottom-style: solid;
	text-align: left;
	vertical-align: top;
}

.TableStyle-PresightKey-BodyF-Column1-RowLight p
{
	
}

.TableStyle-PresightKey-BodyH-Column1-RowLight
{
	padding-left: 18px;
	padding-right: 14px;
	padding-top: 9px;
	padding-bottom: 9px;
	background-color: #ffffff;
	text-align: left;
	vertical-align: top;
	border-right-width: 1px;
	border-right-color: #e7edf4;
	border-right-style: solid;
}

.TableStyle-PresightKey-BodyH-Column1-RowLight p
{
	
}

.TableStyle-PresightKey-BodyD-Column1-RowLight
{
	padding-left: 18px;
	padding-right: 14px;
	padding-top: 9px;
	padding-bottom: 9px;
	background-color: #ffffff;
	border-bottom-width: 1px;
	border-bottom-color: #e7edf4;
	border-bottom-style: solid;
	text-align: left;
	vertical-align: top;
}

.TableStyle-PresightKey-BodyD-Column1-RowLight p
{
	
}

.TableStyle-PresightKey-BodyC-Column1-RowLight
{
	padding-left: 18px;
	padding-right: 14px;
	padding-top: 9px;
	padding-bottom: 9px;
	background-color: #ffffff;
	text-align: left;
	vertical-align: top;
}

.TableStyle-PresightKey-BodyC-Column1-RowLight p
{
	
}

.TableStyle-PresightKey-BodyB-Column1-RowLight
{
	padding-left: 18px;
	padding-right: 14px;
	padding-top: 9px;
	padding-bottom: 9px;
	background-color: #ffffff;
	text-align: left;
	vertical-align: top;
	border-right-width: 1px;
	border-right-color: #e7edf4;
	border-right-style: solid;
}

.TableStyle-PresightKey-BodyB-Column1-RowLight p
{
	
}

.TableStyle-PresightKey-BodyA-Column1-RowLight
{
	padding-left: 18px;
	padding-right: 14px;
	padding-top: 9px;
	padding-bottom: 9px;
	background-color: #ffffff;
	text-align: left;
	vertical-align: top;
}

.TableStyle-PresightKey-BodyA-Column1-RowLight p
{
	
}

.TableStyle-PresightKey-BodyG-Column1-RowLight
{
	padding-left: 18px;
	padding-right: 14px;
	padding-top: 9px;
	padding-bottom: 9px;
	background-color: #ffffff;
	text-align: left;
	vertical-align: top;
}

.TableStyle-PresightKey-BodyG-Column1-RowLight p
{
	
}


